### 4.3 IC  Import Data and Descriptive Analysis 
#### 4.3 IC-1 Importing libraries
#### 4.3 IC-2 Importing files to library
#### 4.3 IC-3 Creating list and importing it
#### 4.3 IC-4 Printing 5 rows
#### 4.3 IC-5 Import Products Data
#### 4.3 IC-6 Printing first and last rows, columns names, rows/colums number
#### 4.3 IC-7 Answering the questions

### 4.3 IC-1 Importing libraries

In [2]:
#import libraies
import pandas as pd
import numpy as nd
import os

### 4.3 IC-2 Importing files to library

In [4]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis'

In [5]:
path

'C:\\Users\\user\\07-2023 Instacart Basket Analysis'

### 4.3 IC-3 Creating list and importing it

In [7]:
var_list=['order_id', 'user_id', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order']

In [8]:
var_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [9]:
df=pd.read_csv(os.path.join(path,'02 Data','Original Data','orders.csv'), usecols=var_list)

### 4.3 IC-4 Printing 5 rows

In [11]:
df.head (5)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

### 4.3 IC-5 Import Products Data

In [14]:
df_prod=pd.read_csv(os.path.join(path,'02 Data','Original Data','products.csv'), index_col=False)

### 4.3 IC-6 Printing the first 20 rows and last 35 rows

In [16]:
df.head(20),df.tail(35)

(    order_id  user_id  order_number  order_dow  order_hour_of_day  \
 0    2539329        1             1          2                  8
 1    2398795        1             2          3                  7
 2     473747        1             3          3                 12
 3    2254736        1             4          4                  7
 4     431534        1             5          4                 15
 5    3367565        1             6          2                  7
 6     550135        1             7          1                  9
 7    3108588        1             8          1                 14
 8    2295261        1             9          1                 16
 9    2550362        1            10          4                  8
 10   1187899        1            11          4                  8
 11   2168274        2             1          2                 11
 12   1501582        2             2          5                 10
 13   1901567        2             3          1                 10
 14    738281        2             4          2                 10
 15   1673511        2             5          3                 11
 16   1199898        2             6          2                  9
 17   3194192        2             7          2                 12
 18    788338        2             8          1                 15
 19   1718559        2             9          2                  9

     days_since_prior_order
 0                      NaN
 1                     15.0
 2                     21.0
 3                     29.0
 4                     28.0
 5                     19.0
 6                     20.0
 7                     14.0
 8                      0.0
 9                     30.0
 10                    14.0
 11                     NaN
 12                    10.0
 13                     3.0
 14                     8.0
 15                     8.0
 16                    13.0
 17                    14.0
 18                    27.0
 19                     8.0  ,
          order_id  user_id  order_number  order_dow  order_hour_of_day  \
 3421048    726186   206208            30          0                 16
 3421049   2523609   206208            31          4                 11
 3421050    756221   206208            32          6                 18
 3421051   2254244   206208            33          6                 13
 3421052   2017995   206208            34          6                 15
 3421053   2789700   206208            35          3                 22
 3421054    844592   206208            36          6                 15
 3421055   1541132   206208            37          2                 12
 3421056   2808240   206208            38          0                 15
 3421057   3027766   206208            39          2                 14
 3421058   3356245   206208            40          5                  9
 3421059    442304   206208            41          2                 14
 3421060   2675140   206208            42          1                 19
 3421061    167903   206208            43          4                 14
 3421062   2393201   206208            44          6                 16
 3421063   3292671   206208            45          2                 11
 3421064   3059777   206208            46          1                 10
 3421065   2239861   206208            47          3                  4
 3421066   1285346   206208            48          1                 11
 3421067   1882108   206208            49          1                 22
 3421068    803273   206208            50          5                 11
 3421069   3154581   206209             1          3                 11
 3421070   1889163   206209             2          3                 17
 3421071   1542354   206209             3          5                 11
 3421072    688306   206209             4          1                 10
 3421073   2307371   206209             5          4                 15
 3421074   3186442   206209             6          0                 16
 3421075    550836   206209             7          2                 13
 3421076   2129269   206209             8          3                 17
 3421077   2558525   206209             9          4                 15
 3421078   2266710   206209            10          5                 18
 3421079   1854736   206209            11          4                 10
 3421080    626363   206209            12          1                 12
 3421081   2977660   206209            13          1                 12
 3421082    272231   206209            14          6                 14

          days_since_prior_order
 3421048                     3.0
 3421049                     4.0
 3421050                     9.0
 3421051                     7.0
 3421052                     7.0
 3421053                     4.0
 3421054                    10.0
 3421055                     3.0
 3421056                    19.0
 3421057                     9.0
 3421058                    10.0
 3421059                    11.0
 3421060                     6.0
 3421061                     3.0
 3421062                     2.0
 3421063                     3.0
 3421064                    13.0
 3421065                     9.0
 3421066                     5.0
 3421067                     7.0
 3421068                     4.0
 3421069                     NaN
 3421070                     7.0
 3421071                    30.0
 3421072                    30.0
 3421073                     3.0
 3421074                     3.0
 3421075                     9.0
 3421076                    22.0
 3421077                    22.0
 3421078                    29.0
 3421079                    30.0
 3421080                    18.0
 3421081                     7.0
 3421082                    30.0  )

#### --printing products colum names

In [20]:
df_prod.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

#### --#printing rows/colums number

In [21]:
df_prod.shape

(49693, 5)

### 4.3 Answering the questions

#### --What’s the maximum value of the “aisle_id” column?

In [23]:
df_prod.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

#### the maximum value of the “aisle_id” column is 134.000000

#### -- What’s the data type of the “department_id” column?

In [24]:
df_prod.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

#### The data type of the “department_id” column is integer 64

### Thank you. Have a nice day!