### 4.9- Part 1. Data Visualization with Python. Preparation df small2_1

#### 4.9-1 Import libraries

In [4]:
import pandas as pd
import numpy as np
import os

#### 4.9-2 Import files

In [5]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis\02 Data'

#### - importing the Instacart data

In [6]:
df_flags=pd.read_pickle(os.path.join(path,'Prepared Data', 'merged_bdays_flags.pkl'))

In [7]:
df_flags.dtypes

product_id                float64
product_name               object
aisle_id                  float64
department_id             float64
prices                    float64
order_id                  float64
user_id                   float64
eval_set                   object
order_number              float64
day_of_week               float64
order_hour_of_day         float64
days_since_prior_order    float64
add_to_cart_order         float64
reordered                 float64
price_range_loc            object
busiest_day                object
busiest days               object
max_order                 float64
loyalty_flag               object
mean_price                float64
spender_flag               object
median_days_sinse_ord     float64
frequent_flag              object
dtype: object

In [8]:
df_flags.shape

(32641279, 23)

#### Dtypes object and float is not ok because of memory problem. As I can not change data type because of NAN values, I will check df_flags for NANs and replace them. Rows with NANs in user_id will be deletet to process merging on this column in the future.

#### checking df for NANs in user_id

In [9]:
df_flags['user_id'].isnull().sum()

11

#### visualizing NANs rows

In [10]:
df_flags[df_flags['user_id'].isnull() == True]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,day_of_week,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
1738025,3630.0,Protein Granola Apple Crisp,57.0,14.0,2.6,NaN,NaN,NaN,NaN,NaN,...,NaN,low_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
1768779,3718.0,Wasabi Cheddar Spreadable Cheese,21.0,16.0,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,mid_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
4041119,7045.0,Unpeeled Apricot Halves in Heavy Syrup,88.0,13.0,6.8,NaN,NaN,NaN,NaN,NaN,...,NaN,mid_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
16268144,25383.0,Chocolate Go Bites,61.0,19.0,1.8,NaN,NaN,NaN,NaN,NaN,...,NaN,low_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
17804187,27499.0,Non-Dairy Coconut Seven Layer Bar,100.0,21.0,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,mid_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
23482218,36233.0,Water With Electrolytes,100.0,21.0,10.4,NaN,NaN,NaN,NaN,NaN,...,NaN,mid_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
24232636,37703.0,Ultra Sun Blossom Liquid 90 loads Fabric Enhan...,75.0,17.0,14.3,NaN,NaN,NaN,NaN,NaN,...,NaN,mid_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
28037267,43725.0,Sweetart Jelly Beans,100.0,21.0,8.1,NaN,NaN,NaN,NaN,NaN,...,NaN,mid_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
29658742,45971.0,12 Inch Taper Candle White,101.0,17.0,9.8,NaN,NaN,NaN,NaN,NaN,...,NaN,mid_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
29930524,46625.0,Single Barrel Kentucky Straight Bourbon Whiskey,31.0,7.0,1.7,NaN,NaN,NaN,NaN,NaN,...,NaN,low_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN
32282913,49540.0,Pure Squeezed Lemonade,31.0,7.0,9.1,NaN,NaN,NaN,NaN,NaN,...,NaN,mid_range_product,Regularly busy,Regularly days,NaN,NaN,NaN,NaN,NaN,NaN

#### creating df without NANs in 'user_id'

In [11]:
df_flags_noNANs=df_flags[df_flags['user_id'].isnull() == False]

In [12]:
df_flags_noNANs.shape

(32641268, 23)

In [13]:
df_flags_noNANs.dtypes

product_id                float64
product_name               object
aisle_id                  float64
department_id             float64
prices                    float64
order_id                  float64
user_id                   float64
eval_set                   object
order_number              float64
day_of_week               float64
order_hour_of_day         float64
days_since_prior_order    float64
add_to_cart_order         float64
reordered                 float64
price_range_loc            object
busiest_day                object
busiest days               object
max_order                 float64
loyalty_flag               object
mean_price                float64
spender_flag               object
median_days_sinse_ord     float64
frequent_flag              object
dtype: object

#### -checking the result

In [14]:
df_flags_noNANs.shape

(32641268, 23)

In [15]:
df_flags_noNANs.head(2)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,day_of_week,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,prior,28.0,6.0,...,0.0,mid_range_product,Regularly busy,Regularly days,33.0,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,prior,30.0,6.0,...,1.0,mid_range_product,Regularly busy,Regularly days,33.0,Regular customer,6.935811,Low spender,8.0,Frequent customer

#### -- to avoid the Memory Error I will devide df for 4 parts

#### -- creating a sample

#### -- creating list of random values False/True to the test np.random.rand<=0.8

In [16]:
np.random.seed(4)
dev = np.random.rand(len(df_flags_noNANs)) <= 0.8

##### --- store 80 % of sample in the df big

In [17]:
big=df_flags_noNANs[dev]

#### --- store 20% of sample in the df small

In [18]:
small1=df_flags_noNANs[~dev]

#### -- checking small and big

In [19]:
len(df_flags_noNANs)

32641268

In [20]:
len(small1)+len(big)

32641268

### now the devision of df is to repeat(80% to 20% and 60%)

#### #### -- creating list of random values False/True to the test np.random.rand<=0.75

In [21]:
np.random.seed(4)
dev = np.random.rand(len(big)) <= 0.75

#### Division of big to big2 and small2 (80% to 20% and 60%)

In [22]:
big2=big[dev]

In [23]:
small2=big[~dev]

#### trying to make the data less heavy

#### - first of allpelacing NANs

In [24]:
small2.isnull().sum()

product_id                 41487
product_name               47366
aisle_id                   41925
department_id              41925
prices                     41925
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
day_of_week                    0
order_hour_of_day              0
days_since_prior_order         0
add_to_cart_order          41487
reordered                  41487
price_range_loc            41925
busiest_day                    0
busiest days                   0
max_order                      0
loyalty_flag                   0
mean_price                     0
spender_flag                   0
median_days_sinse_ord          0
frequent_flag             329454
dtype: int64

#### changing NANs to 0 and empty string (' ')

In [25]:
small2.loc[np.isnan(small2['product_id']), 'product_id']=0

In [26]:
small2.loc[np.isnan(small2['prices']), 'prices']=0

In [27]:
small2.loc[np.isnan(small2['aisle_id']), 'aisle_id']=0

In [28]:
small2.loc[np.isnan(small2['department_id']), 'department_id']=0

In [29]:
small2.loc[np.isnan(small2['add_to_cart_order']), 'add_to_cart_order']=0

In [30]:
small2.loc[np.isnan(small2['reordered']), 'reordered']=0

In [31]:
small2_1=small2.fillna("")

In [32]:
small2_1.isnull().sum()

product_id                0
product_name              0
aisle_id                  0
department_id             0
prices                    0
order_id                  0
user_id                   0
eval_set                  0
order_number              0
day_of_week               0
order_hour_of_day         0
days_since_prior_order    0
add_to_cart_order         0
reordered                 0
price_range_loc           0
busiest_day               0
busiest days              0
max_order                 0
loyalty_flag              0
mean_price                0
spender_flag              0
median_days_sinse_ord     0
frequent_flag             0
dtype: int64

#### -changing dtypes in df small1_1

In [33]:
small2_1.shape

(6527173, 23)

In [34]:
small2_1.dtypes

product_id                float64
product_name               object
aisle_id                  float64
department_id             float64
prices                    float64
order_id                  float64
user_id                   float64
eval_set                   object
order_number              float64
day_of_week               float64
order_hour_of_day         float64
days_since_prior_order    float64
add_to_cart_order         float64
reordered                 float64
price_range_loc            object
busiest_day                object
busiest days               object
max_order                 float64
loyalty_flag               object
mean_price                float64
spender_flag               object
median_days_sinse_ord     float64
frequent_flag              object
dtype: object

#### changing float to int64

In [35]:
small2_1=small2_1.astype({'product_id':np.int64, 'aisle_id':np.int64, 'department_id':np.int64 , 
                          'order_id':np.int64,'user_id':np.int64,'order_number':np.int64,
                          'day_of_week':np.int64,'order_hour_of_day':np.int64,'max_order':np.int64,
                          'days_since_prior_order':np.int64,'median_days_sinse_ord':np.int64,
                          'max_order':np.int64,'order_number':np.int64,'days_since_prior_order':np.int64,
                          'reordered':np.int64, 'add_to_cart_order':np.int64,
                          'reordered':np.int64, 'add_to_cart_order':np.int64})

In [36]:
small2_1.dtypes

product_id                  int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
day_of_week                 int64
order_hour_of_day           int64
days_since_prior_order      int64
add_to_cart_order           int64
reordered                   int64
price_range_loc            object
busiest_day                object
busiest days               object
max_order                   int64
loyalty_flag               object
mean_price                float64
spender_flag               object
median_days_sinse_ord       int64
frequent_flag              object
dtype: object

#### changing object dtypes to string

In [38]:
small2_1['product_name']=small2_1['product_name'].astype('string')

In [40]:
small2_1['eval_set']=small2_1['eval_set'].astype('string')

In [41]:
small2_1['price_range_loc']=small2_1['price_range_loc'].astype('string')

In [42]:
small2_1['busiest_day']=small2_1['busiest days'].astype('string')

In [43]:
small2_1['busiest days']=small2_1['busiest days'].astype('string')

In [44]:
small2_1['loyalty_flag']=small2_1['loyalty_flag'].astype('string')

In [45]:
small2_1['spender_flag']=small2_1['spender_flag'].astype('string')

In [46]:
small2_1['frequent_flag']=small2_1['frequent_flag'].astype('string')

#### checking dtype

In [47]:
small2_1.dtypes

product_id                  int64
product_name               string
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
user_id                     int64
eval_set                   string
order_number                int64
day_of_week                 int64
order_hour_of_day           int64
days_since_prior_order      int64
add_to_cart_order           int64
reordered                   int64
price_range_loc            string
busiest_day                string
busiest days               string
max_order                   int64
loyalty_flag               string
mean_price                float64
spender_flag               string
median_days_sinse_ord       int64
frequent_flag              string
dtype: object

### merging small2_1 with df_customers

importinf file

In [48]:
df_customers=pd.read_pickle(os.path.join(path,'Prepared Data', 'customers491.pkl'))

In [49]:
df_customers.head(2)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Full_Name
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,Deborah Esquivel
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285,Patricia Hart

In [50]:
df_customers.dtypes

user_id          int64
Gender          string
STATE           string
Age              int64
date_joined     string
n_dependants     int64
fam_status      string
income           int64
Full_Name       string
dtype: object

In [51]:
df_customers.shape

(206209, 9)

#### merging dfs

In [52]:
small2_1_merged=pd.merge(df_customers,small2_1, on='user_id')

In [53]:
small2_1_merged.shape

(6527173, 31)

### exsporting small1_1_merged

In [54]:
small2_1_merged.to_pickle(os.path.join(path,'Prepared Data', 'small2_merged.pkl'))