### 4.9- Part 1. Data Visualization with Python. Wranglering of df_customers

#### 4.9-1 Import libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

#### 4.9-2 Import file

In [2]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis\02 Data'

In [3]:
df_customers=pd.read_csv(os.path.join(path, 'Original Data','customers.csv'), index_col=False)

In [4]:
df_customers. head(2)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285

In [5]:
df_customers.shape

(206209, 10)

### 4.9-3 wrangling the data

#### 4.9-3-1 combining the first name and surname column

In [6]:
df_customers['Full_Name']= df_customers['First Name']+' '+df_customers['Surnam']

In [7]:
df_customers.head(2)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Full_Name
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,Deborah Esquivel
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,Patricia Hart

#### droping columns that are not sence

In [8]:
df_customers=df_customers.drop(columns=['First Name','Surnam'])

In [9]:
df_customers.head(2)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Full_Name
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,Deborah Esquivel
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285,Patricia Hart

#### 4.9-3-2 Completing the fundamental data quality and consistency checks

#### converting missing data and dupplicates

##### -finding missing data

In [10]:
df_customers.isnull().sum()

user_id             0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
Full_Name       11259
dtype: int64

##### the missing names are not critical because we have user_id for analysis. but we will replace it with 'noname' to have all the column with strings

In [11]:
df_customers['Full_Name'].fillna('noname', inplace=True)

In [12]:
df_customers.shape

(206209, 9)

##### - finding duplicates

In [13]:
df_dupl=df_customers[df_customers.duplicated()]

In [14]:
df_dupl

Empty DataFrame
Columns: [user_id, Gender, STATE, Age, date_joined, n_dependants, fam_status, income, Full_Name]
Index: []

#### there are no duplicates in df

#### - checking if there are mix-type data (1 way)

In [15]:
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

there are no columns with mix-type data

#### -checking mix-type data (2 way)

In [16]:
df_customers.dtypes

user_id          int64
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
Full_Name       object
dtype: object

#### Changing dtypes object to string

In [17]:
df_customers['Gender']=df_customers['Gender'].astype('string')

In [18]:
df_customers['STATE']=df_customers['STATE'].astype('string')

In [19]:
df_customers['Full_Name']=df_customers['Full_Name'].astype('string')

In [20]:
df_customers['fam_status']=df_customers['fam_status'].astype('string')

In [21]:
df_customers['date_joined']=df_customers['date_joined'].astype('string')

#### checking the result

In [22]:
df_customers.dtypes

user_id          int64
Gender          string
STATE           string
Age              int64
date_joined     string
n_dependants     int64
fam_status      string
income           int64
Full_Name       string
dtype: object

In [23]:
df_customers.head(5)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Full_Name
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,Deborah Esquivel
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285,Patricia Hart
2,65803,Male,Idaho,35,1/1/2017,2,married,99568,Kenneth Farley
3,125935,Female,Iowa,40,1/1/2017,0,single,42049,Michelle Hicks
4,130797,Female,Maryland,26,1/1/2017,1,married,40374,Ann Gilmore

In [24]:
df_customers.shape

(206209, 9)

### esporting df_customers new version

In [25]:
df_customers.to_pickle(os.path.join(path, 'Prepared Data', 'customers491.pkl'))