## 4.6  Part 1
#### 1 Importing libraries
#### 2,3 importing files
#### 4. Consistency check of df_orders_prior
#### 5.checking df before merging to know about full match
#### 6 Merging dfs
#### 7 Exporting df to pickle

### 1 Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

### 2 importing ords_no_NaNs

In [2]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis\02 Data'

In [3]:
path

'C:\\Users\\user\\07-2023 Instacart Basket Analysis\\02 Data'

In [4]:
df_ords=pd.read_csv(os.path.join(path, 'Prepared Data', 'ords_no_NANs.csv'), index_col= 0)

In [5]:
df_ords

,order_id,user_id,eval_set,order_number,day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

#### --Droping ecessive Unnamed index columns if needed code: 
df_ords = df_ords.loc[:, ~df_ords.columns.str.contains('^Unnamed')]

### 3 Importing ords_prior df

In [6]:
df_ords_prior=pd.read_csv(os.path.join(path, 'Original data', 'orders_products_prior.csv'), index_col=False)

In [7]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

### 4. Consistency check of df_orders_prior

In [8]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [9]:
df_ords_prior_dupl=df_ords_prior[df_ords_prior.duplicated()]

In [10]:
df_ords_prior_dupl

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### 5 checking df before merging to know whether there is a full match between the two dataframes.

In [11]:
pd.merge(df_ords, df_ords_prior, on='order_id', indicator=True)

,order_id,user_id,eval_set,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [12]:
pd.merge(df_ords, df_ords_prior, on='order_id', indicator=True).value_counts('_merge')

_merge
both          32434489
left_only            0
right_only           0
dtype: int64

### We can merge the dfs surely, there is the full match

### 6 Merging dfs

In [13]:
df_orders_products_combined=df_ords.merge(df_ords_prior, on='order_id', how='inner')

In [20]:
df_orders_products_combined.shape

(32404859, 10)

### 7. Exporting df to pickle

In [16]:
df_orders_products_combined.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))