### 4.10 Part1
#### -iscluding non revenue customers 
#### -tipical customer portrait

### 4.10-1 Importing libraries and df w/o PII

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis\02 Data'

In [3]:
df=pd.read_pickle(os.path.join(path,'Prepared Data','for_analysis410.pkl'))

### 4.10-4 Escluding customers who don’t generate much revenue for the app (customers with less than 5 orders). Exporting this sample.

In [4]:
df.columns

Index(['user_id', 'Gender', 'STATE', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income', 'product_id', 'product_name', 'aisle_id',
       'department_id', 'prices', 'order_id', 'eval_set', 'order_number',
       'day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'add_to_cart_order', 'reordered', 'price_range_loc', 'busiest_day',
       'busiest days', 'max_order', 'loyalty_flag', 'mean_price',
       'spender_flag', 'median_days_sinse_ord', 'frequent_flag'],
      dtype='object')

In [5]:
df.shape

(32641268, 30)

#### The column needed for creating the sample  is max_order

In [4]:
df_revenue=df.query("max_order not in[1,2,3,4,5]")

In [7]:
df_revenue.shape

(31156122, 30)

In [8]:
df_revenue.dtypes

user_id                     int64
Gender                     string
STATE                      string
Age                         int64
date_joined                string
n_dependants                int64
fam_status                 string
income                      int64
product_id                  int64
product_name               string
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
eval_set                   string
order_number                int64
day_of_week                 int64
order_hour_of_day           int64
days_since_prior_order      int64
add_to_cart_order           int64
reordered                   int64
price_range_loc            string
busiest_day                string
busiest days               string
max_order                   int64
loyalty_flag               string
mean_price                float64
spender_flag               string
median_days_sinse_ord       int64
frequent_flag              string
dtype: object

#### exporting sample

In [5]:
df_revenue.to_pickle(os.path.join(path, 'Prepared Data','sample_revenue.pkl'))

### 4.10-5 Creating a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. If using the “orders_day_of_the_week” and “order_hour_of_day” columns show how they would impact customer profiles. (seeking for characteristics would lead to the profile “Single adult” or “Young parent.”)

#### 1.  Profiling characteristics: 'user_id', 'Gender', 'STATE', 'Age', 'date_joined', 'n_dependants','fam_status', 'income'

#### 2.Variables:  'product_id', 'product_name', 'aisle_id','department_id', 'prices', 'order_id', 'eval_set', 'order_number', 'day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order', 'reordered', 'price_range_loc', 'busiest_day', 'busiest days', 'max_order', 'loyalty_flag', 'mean_price','spender_flag', 'median_days_sinse_ord', 'frequent_flag'

#### 4.10-5 Tipical customer portrait

1. Descriptive statistic of customer characteristics

In [10]:
df_revenue[['Age','n_dependants','income']].describe()

                Age  n_dependants        income
count  3.115612e+07  3.115612e+07  3.115612e+07
mean   4.946819e+01  1.501787e+00  9.965268e+04
std    1.848516e+01  1.118896e+00  4.313888e+04
min    1.800000e+01  0.000000e+00  2.590300e+04
25%    3.300000e+01  1.000000e+00  6.727000e+04
50%    4.900000e+01  2.000000e+00  9.674800e+04
75%    6.500000e+01  3.000000e+00  1.280820e+05
max    8.100000e+01  3.000000e+00  5.939010e+05

Customer's Age is from 18 to 81 years with mean 49 years with distribiution similar to normal. N_dipendants is from 0 to 3, sideways to more dipendants. Income is from 25,903$ to 593,900$  with elevate std and mean about 100,000$.

#### changing dtype string to object for making descriptive statistic of non numeric columns (df.describe(include=[np.object])

In [11]:
df_revenue=df_revenue.astype({'Gender':np.object,
'STATE':np.object,
'date_joined':np.object,
'fam_status':np.object,
'product_name':np.object,})

C:\Users\user\AppData\Local\Temp\ipykernel_2664\3885802145.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df_revenue=df_revenue.astype({'Gender':np.object,
C:\Users\user\AppData\Local\Temp\ipykernel_2664\3885802145.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  'STATE':np.object,
C:\Users\user\AppData\Local\Temp\ipykernel_2664\3885802145.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  'date_joined':np.object,
C:\Users\user\AppData\Local\Temp\ipykernel_2664\3885802145.py:4: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  'fam_status':np.object,
C:\Users\user\AppData\Local\Temp\ipykernel_2664\3885802145.py:5: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  'product_name':np.object,})

In [12]:
df_revenue.describe(include=[np.object])

C:\Users\user\AppData\Local\Temp\ipykernel_2664\3307682251.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df_revenue.describe(include=[np.object])

          Gender         STATE date_joined fam_status product_name
count   31156122      31156122    31156122   31156122     31156122
unique         2            51        1187          4        49631
top         Male  Pennsylvania   7/28/2018    married       Banana
freq    15683105        644694       37029   21877882       453164

### The tipical customer is 49 years old married male living in Pensilvania, having income about 100k and buying bananas :)